/*
100: Thin, Hairline, Ultra-light, Extra-light
200: Light
300: Book
400: Regular, Normal, Plain, Roman, Standard
500: Medium
600: Semi-bold, Demi-bold
700: Bold
800: Heavy, Black, Extra-bold
900: Ultra-black, Extra-black, Ultra-bold, Heavy-black, Fat, Poster
*/

// serif:
// font-family: "Font Name", Times, "Times New Roman", serif;

// sans-serif:
// font-family: "Font Name", Helvetica, Arial, sans-serif;

// Display

@font-face {
  font-family: "Argesta Display";
  src: url("../assets/fonts/ArgestaDisplay-Regular.otf") format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Argesta Display";
  src: url("../assets/fonts/ArgestaDisplay-RegularItalic.otf")
    format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: italic;
}

@mixin argesta-display {
  font-family: "Argesta Display", Times, "Times New Roman", serif;
}

// Hairline

@font-face {
  font-family: "Argesta Hairline";
  src: url("../assets/fonts/ArgestaHairline-Regular.otf") format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Argesta Hairline";
  src: url("../assets/fonts/ArgestaHairline-RegularItalic.otf")
    format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: italic;
}

@mixin argesta-hairline {
  font-family: "Argesta Hairline", Times, "Times New Roman", serif;
}

// Headline

@font-face {
  font-family: "Argesta Headline";
  src: url("../assets/fonts/ArgestaHeadline-Regular.otf") format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Argesta Headline";
  src: url("../assets/fonts/ArgestaHeadline-RegularItalic.otf")
    format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: italic;
}

@mixin argesta-headline {
  font-family: "Argesta Headline", Times, "Times New Roman", serif;
}

// Text

@font-face {
  font-family: "Argesta Text";
  src: url("../assets/fonts/ArgestaText-Regular.otf") format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Argesta Text";
  src: url("../assets/fonts/ArgestaText-RegularItalic.otf") format("opentype");
  font-display: block;
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Argesta Text";
  src: url("../assets/fonts/ArgestaText-Bold.otf") format("opentype");
  font-display: block;
  font-weight: bold;
  font-style: normal;
}

@mixin argesta-text {
  font-family: "Argesta Text", Times, "Times New Roman", serif;
}

//

em,
.em {
  font-style: italic;
}

strong,
.strong {
  font-weight: bold;
}

//

@mixin f1 {
  @include argesta-hairline;

  @include sm {
    font-size: 82px;
  }

  font-style: normal;
  font-weight: 100;
  font-size: 200px;
  line-height: 100%;
}

.f1 {
  @include f1;
}

//

@mixin f2 {
  @include argesta-hairline;

  @include sm {
    font-size: 40px;
    line-height: 48px;
  }

  font-style: normal;
  font-weight: 100;
  font-size: 48px;
  line-height: 58px;
}

.f2 {
  @include f2;
}

//

@mixin f3 {
  @include argesta-headline;

  @include sm {
    font-size: 24px;
    line-height: 28px;
  }

  font-style: italic;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
}

.f3 {
  @include f3;
}

//

@mixin b1 {
  @include argesta-text;

  font-size: 18px;
  line-height: 22px;
}

.b1 {
  @include b1;
}

@mixin b2 {
  @include argesta-text;

  font-size: 12px;
  line-height: 12px;
}

.b2 {
  @include b2;
}
